*{
  padding: 0%;
  margin: 0;
}
.container_1{
  display: flex;
  justify-content: space-between;
  margin: 3% 5% 0% 5%;
}
.logo{
  color: rgb(8, 78, 8);
}
.menu select{
  border: none;
}
.menu a,button,select{
  padding: 10px 20px;
}
.menu button{
  background-color:rgb(163, 248, 163);
  border: none;
  height: 8vh;
  width: 12vh;
}
.menu a{
  text-decoration: none;
  color: black;
}
.container_2{
  padding: 6% 0% 5% 0%;
  display: flex;
  flex-wrap: wrap; 
  justify-content:center;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 2%;
  background-color: black;
  gap: 2%;
}
.seg{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  height: 65vh;
  width: 20%;
  min-width: 300px;
  background-color: white;
  margin: 2% 0.5%;
  position: relative;
}
.seg h3{
  background-color:rgb(234, 233, 233);
  text-align: center;
  padding: 10%;
}
.seg p{
  padding: 10%;
  line-height: 5vh;
}
.seg button{
  border: none;
  height: 10vh;
  background-color:rgb(163, 248, 163) ;
}
.container_3{
  display: flex;
  flex-wrap: wrap; 
  /* background-color: bisque; */
  width: 100%;
  min-height: 80vh;
} 
.seg1{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue;  */
  min-width: 300px;
  width: 50%;
}
.seg1 h2{
  margin-top:5%;
}
.box1{
  width: 60vh;
  height: 75vh;
  background-color: aqua;
  margin-top: 5%;
  position: relative;
  
}
.box1 img{
  height: 100%;
  width: 100%;  
  display: block; 
}
.overlay_txt{
  height: 20vh;
  position: absolute;
  text-align: center;
  color: aliceblue;
  background: rgba(0, 0, 0, 0.5);
  top: 70%;
  padding-top: 4%;
}
.overlay_txt button{
  color:rgb(163, 248, 163);
  border-color: rgb(163, 248, 163) ;
  margin-top: 2%;
}
.seg2{
  flex: 1;
  min-width: 300px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 2%;
  /* align-items: center; */
}
.seg2 h2{
  margin: 2% 0% 0% 7%;
}
.box2{
  width: 75%;
  height: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2px;
  padding: 4%;
}
.box2 img{
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin-left: -10%;
}
.content button{
  border-color:aliceblue(138, 242, 138);
  color: rgb(112, 212, 112);
  margin-top: 10px;
}
.container_4{
  height: 70vh;
  width: 100%;
  background-color:ghostwhite;
  text-align: center;
}
.container_4 h2{
  padding-top: 2%;
  
}
.box3{
  height: auto;
  width: 100vh;
  background-color:rgb(205, 142, 26);
  display: flex;
 
}
.box3 img{
  height: 100%;
  width: 50%;
}
/* .box3 h2{
  margin-top: 2%;
} */
.seg3{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
}
.box3 button{
  border-color:aliceblue(138, 242, 138);
  color: rgb(112, 212, 112);
   margin-top: 2%; 
}
.container_5{
  height: 50vh;
  width: 100%;
  background-color: black;
  color: rgb(196, 200, 202);

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 2% 0% 0% 0%;
}
.seg4{
  width:25%;
  height: auto;
  /* background-color: aqua; */

  display: flex;
  flex-direction: column;

  padding: 3% 0% 0% 2%;
  margin-right: 2%;

}
.seg4 p,a,input{
  margin-top: 5%;
}
.seg4 input{
  width: 50%;
  height: 10%;
  margin-top: 10%;

}
.seg4 button{
  height: 5vh;
  width: 15vh;
  margin-top: 5%;
  background-color:rgb(140, 228, 8) ;
  color:white;
  font-weight: bolder;
  padding: 2%;
}
.seg4 a{
  color: rgb(140, 228, 8);
}
@media (max-width:600px)
{
  .container_1{
      display: block;
  }
  .logo h1{
      margin-left: 35%;
      font-size: 4vh;
  }
  .logo p{
      margin-left: 35%;
      font-size: 2vh;
  }
  .seg{
      margin-top: 5%;
  }
  .seg1{
      width: 100%;
  }
  .box2{
      width: 90%;
  }
  .box3{
      flex-direction: column;
      align-items: center; 
      margin-top: 5%; 
  }
  .box3 h2{
      font-size: smaller;
  }
  .box3{
      background-color:ghostwhite;
  }
  .container_5{
      width: 100%;
      height: auto;
  }
  .seg4{
      height: auto;
      width: auto;
      padding: 10%;
  }
  
}
@media (max-width:1300px)
{
  .container_3{
      display: block;
  }
  .container_4{
      height: auto;
      margin-top: 2%;
  }
  .seg1{
      width: 100%;
  }
  .box3{
      margin-top: 3%;
  }
}
